<div class="container">
  <div class="row">
    <div clas="col-xs-12 col-sm-10 col-sm-offset-1">
<h1 class="text-center">Tous mes vélos à louer </h1>

      <% @listings.each do |listing| %>


          <div class="product">
      <div class='product-upvote'>
        <div class="product-arrow"></div>
        <div class='product-count'>95</div>
      </div>
<% if listing.photo? %>
  <%= cl_image_tag(listing.photo.path, height: 117, width: 175, crop: :fill, class: 'product-image') %>
<% else %>
<img src="http://unsplash.it/117/175?random" alt="Vtt" class="product-image">
<% end %>

      <div class='product-body'>
        <h3><%= listing.name %></h3>
        <p><%= listing.description %></p>
      </div>
      <ul class="list-inline product-controls ">

        <li>
          <%= link_to listing_path(listing) do %>
          <i class="fa fa-eye"></i>
          <% end %>
        </li>
                <li>
          <%= link_to edit_listing_path(listing) do %>
          <i class="fa fa-pencil"></i>
          <% end %>
        </li>
                <li>
          <%= link_to listing_path(listing), method: :delete do %>
          <i class="fa fa-trash"></i>
          <% end %>
        </li>



      </ul>
    </div>

      <% end %>

    </div>
  </div>
</div>





