<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%=  @listing.photo? ? cloudinary_url(@listing.photo.path, width: 1280) : image_path("bikew.jpg") %>');">
  <div class="banner-content">
   <h1>
     <%= @listing.name %>
    </h1>
      <p>
        <span class="label label-default">
      <%= number_to_currency(@listing.price) %> Euros pas jour
    </p>
    <p>
      <%= @listing.description %>
      </p>
    <p>
      <span class="label label-default">
        <%= @listing.use %>
</p>

    <div>
    <%= link_to "Louez ce vélo", new_listing_order_path(@listing), class: "btn btn-primary", data: { no_turbolink: true} %>
    </div>
  </div>
</div>