<h1 class="text-center">Détail du vélo à louer </h1>

<h2 class="text-center">
  <%= @listing.name %>
</h2>
<h2 class="text-center">
  <%= @listing.description %>
</h2>
<h3 class="text-center">
  Description
</h3>

<h3 class="text-center">
  Prix
</h3>

<p class="text-center">
  <%= link_to "Editer", edit_listing_path(@listing), class: "btn btn-warning" %>
    <%= link_to "Supprimer", listing_path(@listing), method: :delete,class: "btn btn-danger" %>
<%= link_to "Revenir à la liste", listings_path, class: "btn btn-primary" %>
</p>